.wrapper {
  display: flex;
}

#left-nav {
  flex: 3; /* 3:4:3 비율 중 3 */
  background-color: #ffffff;
  border-right: 1px solid #d9d9d9;
  overflow-y: auto;
}

#content {
  flex: 4; /* 3:4:3 비율 중 4 */
}

#right-nav {
  flex: 3; /* 3:4:3 비율 중 3 */
  background-color: #ffffff;
  border-left: 1px solid #d9d9d9;
  overflow-y: auto;
}
