.content-box {
  flex: 6;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 8vw;
  padding-top: 7vh;
}

.explain-content {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}

#content-display {
  flex: 9;
  border-radius: 20px;
  border: 2.5px solid #d9d9d9;
  width: 100%;
}
.inner-content {
  background-image: url("https://data.seoul.go.kr/resources/img/guide/hotspot/구로디지털단지역.jpg");
  background-size: cover;
  /* // 이미지를 컨테이너에 맞게 조절합니다. */
  background-repeat: no-repeat;
  /* // 이미지 반복을 비활성화합니다. */
  height: 90%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.slidebox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
