/* RightNav.css */

.right-nav {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav > div {
  cursor: pointer;
}

.menu {
  padding: 0.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2.5px solid #d9d9d9;
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
